h1 {
  font-size: 2.5rem;
}

h2 {
  margin: 0;
}

a {
  cursor: pointer;
}

.playing {
  padding: 1rem;
}

.songs_box {
  border-top: 3px solid royalblue;
  border-bottom: 3px solid royalblue;
  backdrop-filter: blur(0.5rem);
}

.podcasts_box {
  border-top: 3px solid salmon;
  border-bottom: 3px solid salmon;
  backdrop-filter: blur(0.5rem);
}

.playlist_entry {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.playlist_bar {
  border: 1px solid gray;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.9rem;
  border-radius: 0.5rem;

  backdrop-filter: blur(3px);

  cursor: pointer;
}

.songs_container,
.podcasts_container {
  margin-top: 5rem;
}
.songs_container h2,
.podcasts_container h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.song_detail,
.podcast_detail {
  display: flex;

  justify-content: space-between;
  width: 70%;
}

.song_detail span {
  font-size: 1.2rem;
  font-weight: 600;

  flex: 0 0 45%;
}

.podcast_detail span {
  font-size: 1.2rem;
  font-weight: 600;

  flex: 0 0 45%;
}

.current_song {
  font-size: 1.5rem;
  font-weight: bold;
}

.play_btn {
  padding: 0.3rem 0.9rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;

  transition: all 0.2s ease-in-out;
}

.play_btn:hover {
  scale: (1.1);
  color: #4caf50;
}

.buttons_container {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1rem;

  color: white;

  transition: all 0.3s linear;
  cursor: pointer;
}

button:hover {
  scale: 1.1;
  outline: none;
  border: none;
  background-position: bottom;
}

.shuffle_btn {
  background: linear-gradient(45deg, #002c43, #00517c, #007ab3);
}

.next_btn {
  background: linear-gradient(to right, #4caf50, #2196f3);
  color: white;

  cursor: pointer;
  transition: all 0.3s linear;
}

.next_btn:hover {
  background: linear-gradient(to right, #2196f3, #4caf50);
}

.prev_btn {
  background: linear-gradient(to left, #4caf50, #2196f3);
  color: white;

  cursor: pointer;
  transition: all 0.3s linear;
}

.prev_btn:hover {
  background: linear-gradient(to left, #2196f3, #4caf50);
}

.play_pause_btn {
  background: radial-gradient(circle, #bd8c41, #ff6600, #ff3300);
  color: black;
}
